body{

background-color: #C1A5CE;
}

.your{
	background:url("http://25.media.tumblr.com/tumblr_matggqMlEu1qjxjr3o4_1280.png");
	font-family: 'Pacifico';
	text-align: center;
	border-style: double;
	border-color: black;
	border-radius: 15px;
}
@media (min-width: 600px) {

}

 @media screen and (max-width:480px) {
       #sidebar { display: none;}
        }
  