body{
	background-color: #C1A5CE;
	font-family: 'Roboto Condensed', sans-serif;
}

.hello{
	font-family: 'Arimo', sans-serif;
	font-size: 28px;
}

.link{
	font-size: 24px;
	font-family: 'Alegreya SC', serif;
}

.a{
	color: black;
	 text-decoration:none;
	border-style: double;
	border-color: black;
	border-radius: 15px;
	border-width: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-image: url(http://data1.whicdn.com/images/104091957/thumb.jpg) 30 round;
}
@media (min-width: 600px) {

}
 @media screen and (max-width:480px) {
       #sidebar { display: none;}
        }
  